.button {
  @include button;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .button {
    width: 292px;
  }
}
