.catalog-section {
  background-color: $light-mint;
}

.catalog-section--dark {
  background-color: $dark-mint;
}

.catalog-section,
.catalog-section--dark {
  font-size: 19px;
  color: $white;

  @include font-bold;
}
