.company-reviews {
  width: 260px;
  margin: 0 auto 49px auto;

  @include padding-line;
}

.company-reviews__wrapper {
  margin: 0 auto 39px auto;
}

.company-reviews__title {
  margin: 0;
  padding: 0 0 25px 0;
}

.company-reviews__text {
  margin: 0;
  padding: 0 0 30px 0;

  line-height: 30px;
}

.company-reviews__author {
  display: inline-block;
  padding: 0 0 7px 0;

  font-size: 17px;
  color: $black;

  @include font-bold;
}

.company-reviews__link {
  padding: 0 0 30px 0;

  font-style: normal;
}

.company-reviews__item {
  @include reset-indents;
}
