.company-features {
  @include padding-line;
  margin: 0 auto 30px auto;
  width: 260px;
}
.company-features__list{
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}
.company-features__title {
  margin: 0;
  padding: 35px 0 28px 0;
}
.company-features__item {
  padding: 57px 0 26px 0;
}
