.company-contacts__address {
  margin-bottom: 33px;
}

.company-contacts__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 23px;
}

.company-contacts__table {
  width: 260px;
  margin: 0 auto 34px auto;
  padding: 0;

  line-height: 30px;
  font-style: normal;
}

.company-contacts__td-left {
  width: 77px;
  padding: 0;

  vertical-align: top;
}

.company-contacts__td-right-top {
  width: 183px;
  padding: 0 0 28px 0;

  vertical-align: top;
}

.company-contacts__map-img {
  position: absolute;
  z-index: 1;

  margin: 0;
}

.company-contacts__iframe {
  position: relative;
  z-index: 2;

  width: 100%;

  border: 0;
}

.company-contacts__button {
  margin: 0 auto 39px auto;
}

@media (min-width: 768px) {
  .company-contacts__title {
    margin-left: 6%;
    padding-top: 56px;
    padding-bottom: 46px;
  }

  .company-contacts__table {
    margin: 0 6% 50px 6%;
  }

  .company-contacts__table tbody {
    display: flex;
    width: 668px;
  }

  .company-contacts__table tr {
    width: 50%;
  }

  .company-contacts__address {
    margin-bottom: 45px;

    font-size: 17px;
    line-height: 30px;
  }

  .company-contacts__button {
    width: 230px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1150px) {
  .company-contacts {
    width: 1050px;
    margin: 0 auto 105px auto;
  }

  .company-contacts__title {
    position: relative;

    margin-left: 175px;
    padding-top: 145px;
    padding-bottom: 43px;
  }

  .company-contacts__table {
    margin-left: 170px;
  }

  .company-contacts__table tbody {
    display: table;
    width: 350px;
  }

  .company-contacts__td-left {
    width: 70px;
  }

  .company-contacts__map {
    width: 525px;
    height: 458px;
    margin-top: -385px;
    margin-left: 525px;
  }

  .company-contacts__button {
    margin: -96px 0 0 175px;
  }
}
