.contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include font-bold;
}

@media (min-width: 768px) {
  .contacts-title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1250px) {
  .contacts-title {
    font-size: 53px;
    line-height: 57px;
  }
}
