.email-link {
  color: $grey;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}
