.filters__title {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 17px;
  line-height: 17px;
  color: $light-mint;
  text-transform: uppercase;

  @include font-bold;
}

.filters__title--write {
  margin: 0 0 25px 0;
}

.filters__fieldset {
  margin: 0 0 14px 0;
  padding: 0;

  border: none;
}

.filters__fieldset--write {
  margin: 0 0 35px 0;
}

.filters__fieldset--flex {
  display: flex;
}

.filters__list {
  @include reset-ul;
}

.filters__list--padding {
  padding-left: 64px;
}

.filters__item-check {
  box-sizing: border-box;
  height: 50px;
  margin: 0 0 11px 0;
  padding: 11px 0 11px 0;
}

.filters__item-write {
  height: 70px;
  margin: 0 0 20px 0;

  border-bottom: 2px solid $black;
}

.filters__label {
  font-size: 17px;
  line-height: 18px;
  color: $black;

  @include font-bold;
}

.filters-placeholder {
  border: none;

  @include font;
}

.filters-placeholder--name {
  width: 200px;
  padding: 15px 0 0 0;
}

.filters-placeholder::placeholder {
  font-size: 17px;
  line-height: 18px;
}

.filters__textarea {
  box-sizing: border-box;
  width: 260px;
  min-height: 142px;
  overflow: auto;

  font-size: 17px;
  line-height: 18px;
  color: $grey;

  border: 2px solid $grey;

  resize: none;

  @include font;
}

.filters__textarea::placeholder {
  text-indent: 50px;
}

.filters__button {
  margin-bottom: 60px;
}
