.form__fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $light-mint;
  }
}

.form__title {
  position: relative;

  display: inline-block;
  margin: 0;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 22px;

  font-size: 17px;
  line-height: 17px;
  // vertical-align: top;
  color: $light-mint;
  text-transform: uppercase;

  background-color: #ffffff;

  @include font-bold;

  &--color {
    padding-right: 18px;
  }

  &--name {
    padding-right: 20px;
  }

  &--tel {
    padding-right: 29px;
  }

  &--email {
    padding-right: 23px;
  }

  &--textarea {
    padding-right: 22px;
  }
}

.form__list {
  display: flex;
  flex-direction: column;

  @include reset-ul;

  &--radio {
    margin-bottom: 17px;
  }
}

.form__icon-phone,
.form__icon-mail {
  position: absolute;
  top: 49px;
  left: 87%;
  z-index: 10;

  fill: rgba(0, 0, 0, 0.2);
}

.form__input-text {
  width: 100%;
  margin-bottom: 16px;
  padding-top: 4px;
  padding-bottom: 15px;

  font-size: 17px;
  line-height: 18px;
  color: $grey;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  @include font;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid #62d1ba;
    outline: none;

    .form__icon-phone,
    .form__icon-mail {
      fill: #62d1ba;
    }
  }
}

.form__input-text::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__textarea {
  box-sizing: border-box;
  width: 260px;
  min-height: 142px;
  margin-top: 2px;
  padding-top: 14px;
  padding-left: 14px;
  overflow: auto;

  font-size: 17px;
  line-height: 18px;
  color: $grey;
  text-indent: 0;

  border: 2px solid $grey;

  resize: none;

  @include font;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid #62d1ba;
    outline: none;
  }
}

.form__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__wrapper-contacts {
  position: relative;
}

.form__wrapper-contacts:last-of-type {
  margin-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $light-mint;
  }
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;
}

.form__button {
  margin-bottom: 55px;

  background-color: $white;
}

.form__label {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 13px;

  font-size: 17px;
  line-height: 18px;
  color: $black;

  cursor: pointer;

  @include font-bold;

  &--radio {
    padding-left: 62px;
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;

    width: 35px;
    height: 35px;

    background-color: $white;
    border: 2px solid $grey;
    border-radius: 50%;
  }

  &--checkbox {
    margin-bottom: 11px;
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 62px;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 36px;
    height: 35px;

    border: 2px solid $grey;
  }

  &--write {
    padding-top: 6px;
  }
}

.form__input-radio:checked + .form__label--radio::after,
.form__input-radio:active + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 13px;

  width: 16px;
  height: 16px;

  background-color: $light-mint;
  border-radius: 50%;
}

.form__input-radio:hover + .form__label--radio::before,
.form__input-radio:focus + .form__label--radio::before,
.form__input-radio:checked:hover + .form__label--radio::before,
.form__input-radio:checked:focus + .form__label--radio::before,
.form__input-checkbox:hover + .form__label--checkbox::before,
.form__input-checkbox:focus + .form__label--checkbox::before,
.form__input-checkbox:checked:hover + .form__label--checkbox::before,
.form__input-checkbox:checked:focus + .form__label--checkbox::before {
  border: 2px solid $light-mint;
}

.form__input-radio:active + .form__label--radio::before,
.form__input-radio:checked:active + .form__label--radio::before,
.form__input-checkbox:checked:active + .form__label--checkbox::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form__input-radio:checked:active + .form__label--radio::after {
  background-color: $white;
}

.form__input-checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;

  width: 20px;
  height: 8px;

  border-bottom: 2px solid $grey;
  border-left: 2px solid $grey;
  transform: rotate(-44deg);
}

.form__input-checkbox:checked:active + .form__label--checkbox::after {
  width: 0;
  height: 0;

  border: 0;
}
// TABLET START

@media (min-width: 768px) {
  .form__fieldset {
    display: flex;
    width: calc(100% - 100px);
    padding-top: 40px;

    @include padding-main;

    &::before {
      display: none;
    }

    &--contacts {
      flex-direction: column;
      padding-bottom: 33px;
    }
  }

  .form__wrapper-grey {
    background-color: $milk;
  }

  .form__wrapper-contacts {
    display: flex;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      display: none;
    }
  }

  .form__submit-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 53px;

    @include padding-main;
  }

  .form__title {
    width: 167px;
    margin: 0;
    padding-top: 27px;
    padding-right: 0;

    background-color: transparent;

    &--tel,
    &--email {
      margin-right: 46px;
    }
  }

  .form__list {
    width: 75%;
    margin-bottom: 35px;

    &--checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__input-text {
    flex-grow: 1;
    padding-top: 23px;
    padding-bottom: 10px;
    padding-left: 17px;

    font-size: 19px;
  }

  .form__textarea {
    width: 501px;
    margin-top: 10px;

    font-size: 19px;
  }

  .form__button {
    width: 230px;
    margin-bottom: 50px;
  }

  .form__item-write {
    display: flex;
  }

  .form__label {
    padding-left: 80px;

    font-size: 19px;
    line-height: 19px;

    &--radio {
      margin-bottom: 14px;
      padding-top: 26px;
      padding-bottom: 18px;
    }

    &--radio::before {
      top: 10px;
      left: 0;

      width: 48px;
      height: 48px;
    }

    &--checkbox {
      width: 239px;
      padding-top: 25px;
      padding-right: 50px;
      padding-bottom: 21px;
    }

    &--checkbox::before {
      top: 10px;

      width: 50px;
      height: 48px;

      background-color: $milk;
    }

    &--write {
      margin-right: 25px;
      padding-top: 25px;
      padding-left: 0;
    }
  }

  .form__input-radio:checked + .form__label--radio::after,
  .form__input-radio:active + .form__label--radio::after {
    top: 25px;
    left: 16px;

    width: 21px;
    height: 21px;
  }

  .form__input-checkbox:checked + .form__label--checkbox::after {
    top: 24px;
    left: 13px;

    width: 28px;
    height: 14px;
  }

  .form__icon-phone,
  .form__icon-mail {
    top: 20px;
    left: 92%;
  }
}

@media (min-width: 1150px) {
  .form__fieldset {
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .form__list {
    width: 700px;

    &--checkbox {
      justify-content: flex-start;
      width: 875px;
    }
  }

  .form__title {
    box-sizing: border-box;
    width: 175px;
    padding-left: 63px;

    &--tel,
    &--email {
      margin-right: 26px;
    }
  }

  .form__submit-wrapper {
    width: 700px;
    margin-top: 49px;
    margin-right: auto;
    margin-left: auto;
  }

  .form__textarea {
    width: 700px;
  }

  .form__label--checkbox {
    width: 261px;
  }

  .form__wrapper-contacts {
    width: 875px;
  }

  .form__icon-phone,
  .form__icon-mail {
    top: 18px;
    left: 96%;
  }
}
