.form-order {
  width: 260px;
  margin: 0 auto;

  @include padding-mobile;
}

.form-order__description {
  margin: 0;
  padding: 23px 0 11px 0;

  font-size: 13px;
}

.form-order__notes {
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  margin-bottom: 31px;
}

@media (min-width: 768px) {
  .form-order {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .form-order__description {
    width: 668px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 74px;
    padding-bottom: 6px;

    font-size: 17px;
    line-height: 30px;

    @include padding-main;
  }

  .form-order__notes {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .form-order__description {
    padding-top: 135px;
    padding-left: 0;
    padding-right: 0;
    width: 700px;
  }
}
