.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1150px;
}

.main-nav__list {
  width: 100%;
}

.main-nav__logo-link {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: calc((100% - 86px) / 2);

  border-bottom: 1px solid $border;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.main-nav__cart {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 24%;

  font-size: 17px;
  color: $black;
  text-decoration: none;

  border-bottom: 1px solid $border;

  @include font-bold;

  &:hover,
  &:focus {
    color: rgba(1, 0, 0, 0.6);

    outline: none;

    .main-nav__cart-amount {
      color: rgba(1, 0, 0, 0.6);

      outline: none;
    }
  }

  &:active {
    color: rgba(1, 0, 0, 0.3);

    outline: none;

    .main-nav__cart-amount {
      color: rgba(1, 0, 0, 0.3);

      outline: none;
    }
  }
}

.main-nav__cart-amount {
  font-size: 17px;
  color: $black;
  text-decoration: none;

  @include font-bold;
}

.main-nav__delivery {
  display: none;
  padding: 17px 50px 10px 10px;

  color: $grey;
  text-decoration: none;
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  cursor: pointer;

  @include reset-button;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 5px;

    width: 21px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }
}

@media (max-width: 767px) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__services,
  .main-nav--closed .main-nav__search,
  .main-nav--closed .main-nav__cart {
    display: none;
  }

  .main-nav--opened {
    .main-nav__toggle {
      &::before {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;

        width: 28px;
        height: 2px;

        background-color: #000000;
        box-shadow: none;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;

        width: 28px;
        height: 2px;

        background-color: #000000;
        box-shadow: none;
        transform: rotate(-45deg);
      }
    }
  }

  .main-nav--opened .main-nav__services,
  .main-nav--opened .main-nav__search,
  .main-nav--opened .main-nav__cart {
    display: block;
  }
}


@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__services {
    position: relative;

    order: 4;
    margin-bottom: -103px;
  }

  .main-nav__delivery {
    position: relative;

    display: block;
    order: 5;
    margin-bottom: -103px;
  }

  .main-nav__logo-link {
    order: 1;
    width: 371px;
    height: 89px;
    padding-left: 50px;

    border-right: 1px solid $border;
  }

  .main-nav__logo-img {
    width: 112px;
    height: 46px;
  }

  .main-nav__cart {
    order: 3;
    width: 190px;
    padding: 32px 50px 32px 10%;

    text-align: right;
  }

  .main-nav__search {
    flex-grow: 1;
    order: 2;
    // временно до замены
    height: 89px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1150px) {
  .main-nav__services {
    order: 1;
    margin-bottom: 0;
  }

  .main-nav__logo-link {
    flex-grow: 1;
    order: 2;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 38px;
  }

  .main-nav__logo-img {
    width: 148px;
    height: 72px;
  }

  .main-nav__search {
    flex-grow: 0;
    order: 3;
    width: 81px;
  }

  .main-nav__cart {
    order: 4;
    margin-right: 0;
    padding: 32px 50px 32px 80px;
  }

  .main-nav__news {
    position: relative;

    order: 5;
    margin-bottom: -103px;
  }

  .main-nav__delivery {
    position: relative;

    order: 6;
    margin: 0;
    margin-bottom: -103px;
  }
}
