.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include padding-line;
}

.main-nav__toggle {
  @include reset-button;
}

.main-nav__logo-link {
  padding: 22px 0 21px 0;
  align-self: center;
}

.main-nav__link,
.main-nav__search {
  padding: 29px 30px 25px 45px;
}

