.modal {
  width: 260px;

  background-color: $white;
  outline: 1px solid $border-modal;

  @include padding-line;
}

.modal__title {
  margin: 37px 54px 25px 37px;
  padding: 0;
}
// переделать класс
.modal-form__text {
  @include reset-indents;
}

.modal__title,
.modal__label {
  font-size: 25px;
  line-height: 30px;
  color: $black;
  text-transform: uppercase;

  @include font-bold;
}

.modal-form__list {
  @include reset-ul;
}

.modal-button {

  font-size: 17px;
  line-height: 16px;
  color: $white;
  text-transform: uppercase;

  background-color: $light-mint;

  @include reset-button;
  @include font-bold;
}
