.modal {
  @include padding-line;
}
.modal-form__text,
.modal__title{
  @include reset-indents;
}
.modal__title,
.modal__label {
  @include font-bold;
  line-height: 30px;
  font-size: 25px;
  color: $black;
  text-transform: uppercase;
}
.modal-form__list {
  @include reset-ul;
}
.modal-button {
  @include reset-button;
  @include font-bold;
  background-color: $light-mint;
  color: $white;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
}
