.news-menu {
  display: none;

  @include reset-ul;
}

.news-menu__link {
  display: block;
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 24%;

  color: $black;
  text-decoration: none;

  @include font-bold;
}

@media (min-width: 1150px) {
  .news-menu {
    display: flex;
  }

  .news-menu__link {
    padding: 17px 10px 25px 50px;
  }
}
