@media (min-width: 768px) {
  .page-main {
    position: relative;

    &--index,
    &--form {
      &::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 0;
        z-index: 20;

        width: 100%;
        height: 24px;

        background-image: url("../img/bg-zigzag-fill.svg");
        background-position: 0 0;
        background-size: 768px 24px;
      }
    }

    &--catalog {
      &::before {
        content: "";
        position: absolute;
        top: -90px;
        left: 0;

        width: 100%;
        height: 24px;

        background-image: url("../img/bg-zigzag-fill.svg");
        background-position: 0 0;
        background-size: 768px 24px;
      }
    }
  }
}

@media (min-width: 1150px) {
  .page-main {
    &--index {
      &::before {
        top: -18px;

        height: 37px;

        background-repeat: repeat-x;
        background-position: 0 0;
        background-size: auto 37px;
      }
    }

    &--catalog {
      &::before {
        top: -147px;

        height: 34px;

        background-repeat: repeat-x;
        background-position: 0 0;
        background-size: auto 34px;
      }
    }

    &--form {
      &::before {
        top: -18px;

        height: 34px;

        background-repeat: repeat-x;
        background-position: 0 0;
        background-size: auto 34px;
      }
    }
  }
}
