.page-footer {
  background-color: $milk;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @include padding-mobile;
}

.page-footer__logo,
.page-footer__logo-icon {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 144px;
    padding-top: 30px;
    padding-bottom: 30px;

    @include padding-main;
  }

  .page-footer__logo {
    display: block;
    width: 186px;
    min-height: 84px;
    margin: 0;
    padding: 0;

    text-decoration: none;
  }

  .page-footer__logo-icon {
    display: block;
  }

  .page-footer__link {
    display: block;
    width: 186px;
    min-height: 84px;
    padding-top: 40px;

    &[href]:hover,
    &[href]:focus {
      .page-footer__logo-icon {
        fill: #46c1ae;
      }
    }

    &[href]:active {
      .page-footer__logo-icon {
        fill: rgba(70, 193, 184, 0.3);
      }
    }
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1150px;
    padding-top: 32px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
