.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-top: 1px solid $border;

  &--catalog {
    margin-bottom: 30px;
  }
}

.page-header__title {
  order: 1;
  margin: 0;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 22%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }
}

@media (min-width: 768px) {
  .page-header {
    position: relative;

    box-sizing: border-box;

    border: 0;

    &--catalog {
      margin-bottom: 79px;
    }
  }

  .page-header__title {
    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
      }
    }
  }
}

@media (min-width: 1150px) {
  .page-header {
    &--catalog {
      margin-bottom: 132px;
    }
  }

  .page-header__title {
    &--index {
      background-image: url("../img/hero-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px auto;
      }
    }
  }
}
