.product-item {
  display: flex;
  flex-direction: column;
}

.product-item__title,
.product-item__link,
.product-item__price,
.product-item__description {
  @include reset-indents;
}

.product-item__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 7px;

  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;

  @include font-bold;
}

.product-item__description {
  flex-grow: 1;

  font-size: 13px;
  line-height: 30px;
}

.product-item__price {
  color: $black;

  @include font-bold;
}

.product-item__buy-cart {
  @include reset-button;
}

.product-item__buy-wrapper {
  width: 204px;
  margin-bottom: 27px;
  padding-top: 21px;

  border-top: 1px solid $border;
  // margin-top: 19px;
}

.product-item__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 178px;
  padding-right: 27px;
  padding-left: 27px;

  border: 1px solid $border;
}

@media (min-width: 768px) {
  .product-item {
    flex-direction: row;
  }

  .product-item__img {
    width: 334px;
    height: 334px;
  }

  .product-item__link {
    font-size: 20px;
  }

  .product-item__buy-wrapper {
    width: 268px;
  }

  .product-item__wrapper {
    width: 334px;
  }
}

@media (min-width: 1150px) {
  .product-item {
    flex-direction: column;
  }

  .product-item__img {
    width: 316px;
    height: 462px;
  }

  .product-item__wrapper {
    width: 316px;
    min-height: 197px;
  }
}
