.product-menu {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin-bottom: 28px;
}

.product-menu__item {
  position: relative;

  padding: 25px 0 30px 27px;

  font-size: 19px;
  color: $white;
  text-decoration: none;

  background-color: $light-mint;

  @include font-bold;

  &--dark {
    background-color: $dark-mint;
  }
}

.product-menu__icon {
  position: absolute;
  bottom: 18px;
  left: 76%;

  cursor: pointer;

  fill: rgba(20, 144, 128, 0.5);

  &--dark {
    bottom: 22px;
    left: 73%;
  }
}

@media (min-width: 768px) {
  .product-menu {
    flex-direction: row;
    margin-bottom: 47px;

    @include padding-main;
  }

  .product-menu__item {
    width: 50%;
    margin-top: -115px;
    padding: 28px 0 30px 37px;

    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      margin-top: -120px;

      background-color: #59d5bc;
      outline: none;

      .product-menu__icon {
        fill: rgba(20, 144, 128, 0.7);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: #59d5bc;
      outline: none;

      .product-menu__icon {
        fill: rgba(20, 144, 128, 0.3);
      }
    }

    &--dark {
      &:hover,
      &:focus,
      &:active {
        background-color: #46c1ae;
        outline: none;
      }
    }
  }

  .product-menu__icon {
    bottom: 25px;
    left: 258px;

    &--dark {
      bottom: 25px;
      left: 240px;
    }
  }
}

@media (min-width: 1150px) {
  .product-menu {
    margin: 0 auto 70px auto;
  }

  .product-menu__item {
    margin-top: -119px;

    &:hover,
    &:focus {
      margin-top: -124px;

      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      outline: none;
    }
  }

  .product-menu__icon {
    bottom: 27px;
    left: 449px;

    &--dark {
      left: 430px;
    }
  }
}
