.product-item {
  display: flex;
  flex-direction: column;
}

.product-item__title,
.product-item__link,
.product-item__price,
.product-item__description {
  @include reset-indents;
}

.product-item__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;

  @include font-bold;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
  }
}

.product-item__description {
  flex-grow: 1;

  font-size: 13px;
  line-height: 30px;
}

.product-item__price {
  color: $black;

  @include font-bold;
}

.product-item__buy-cart {
  @include reset-button;
}

.product-item__buy-wrapper {
  width: 204px;
  margin-top: 18px;
  margin-bottom: 28px;
  padding-top: 20px;

  border-top: 1px solid $border;
}

.product-item__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 27px;
  padding-left: 27px;

  border: 1px solid $border;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

@media (min-width: 768px) {
  .product-item {
    flex-direction: row;
  }

  .product-item__img {
    width: 333px;
    height: 334px;
  }

  .product-item__description {
    font-size: 15px;
  }

  .product-item__price {
    padding-left: 5px;

    font-size: 17px;
    line-height: 24px;
  }

  .product-item__link {
    font-size: 20px;
  }

  .product-item__buy-wrapper {
    width: 268px;
    margin-bottom: 26px;
    padding-top: 22px;
  }

  .product-item__wrapper {
    width: 336px;
  }
}

@media (min-width: 1150px) {
  .product-item {
    flex-direction: column;
  }

  .product-item__img {
    width: 316px;
    height: 462px;
  }

  .product-item__wrapper {
    width: 316px;
    min-height: 197px;
  }

  .product-item__price {
    padding-left: 0;
  }

  .product-item__buy-wrapper {
    margin-top: 0;
  }

  .product-item__link {
    padding-top: 25px;
  }
}
