.reviews {
  position: relative;

  width: 260px;
  margin: 0 auto 49px auto;

  @include padding-mobile;

  &::before {
    content: "";
    position: absolute;
    top: 623px;
    left: 0;

    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-position: 8px 0;
    background-size: 320px 7px;
  }
}

.reviews__wrapper {
  margin: 0 auto 38px auto;
}

.reviews__title {
  margin: 0;
  padding: 0 0 25px 0;
}

.reviews__text {
  margin: 0;
  padding: 0 0 27px 0;

  line-height: 30px;
}

.reviews__author {
  display: inline-block;
  padding: 0 0 4px 0;

  font-size: 17px;
  color: $black;

  @include font-bold;
}

.reviews__link {
  padding: 0 0 28px 0;

  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.reviews__item {
  @include reset-indents;
}

@media (min-width: 768px) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 86px;
    padding: 0;

    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: center left;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &::before {
      top: 525px;

      height: 16px;

      background-position: 19px 0;
      background-size: 768px 16px;
    }
  }

  .reviews__title {
    order: 1;
    margin-top: 77px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 0;
  }

  .reviews__text {
    width: 668px;
    padding-bottom: 56px;

    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__link {
    width: 334px;
  }

  .reviews__wrapper {
    order: 3;
    width: 668px;
    margin-bottom: 50px;
  }

  .reviews__button {
    order: 2;
    width: 175px;
    margin-top: 79px;
    margin-right: 50px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1050px;

    &::before {
      width: 1050px;
      height: 23px;

      background-position: 29px 0;
      background-size: 1050px 23px;
    }
  }

  .reviews__title {
    margin-top: 70px;
    margin-left: 175px;
  }

  .reviews__text {
    width: 780px;
    padding-bottom: 38px;
  }

  .reviews__wrapper {
    width: 875px;
    margin-bottom: 94px;
    margin-left: 175px;
  }

  .reviews__button {
    margin-right: 0;
  }

  .reviews__author {
    font-size: 17px;
  }
}
