.search-form {
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 24%;

  border-bottom: 1px solid $border;
}

.search-form input::placeholder {
  font-size: 17px;
  line-height: inherit;
  color: $black;

  @include font-bold;
}

.search-form__input-text {
  margin: 0;

  border-width: 0;
}

@media (min-width: 768px) {
  .search-form {
    box-sizing: border-box;
    // временно до замены
    width: 10%;
    padding-left: 0;

    border-right: 1px solid $border;
  }

  .search-form [placeholder] {
    display: none;
  }
}
