.slider__buttons {
  height: 50px;

  border: 1px solid $milk;

  @include reset-indents;
}

.slider__button {
  @include reset-button;
}

@media (min-width: 768px) {
  .slider__buttons {
    width: 167px;
    margin-top: -80px;
    margin-left: 500px;
  }
}

@media (min-width: 1150px) {
  .slider__buttons {
    margin-left: 700px;
  }
}
