body {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;

  font-size: 15px;
  line-height: 24px;
  color: $grey;

  @include font;
}

@media (min-width: 1600px) {
  body {
    width: 1600px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
