@mixin reset-indents{
  padding: 0;
  margin: 0;
}
@mixin reset-ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin reset-a{
  text-decoration: none;
  color: inherit;
}
@mixin reset-button {
  padding: 0;
  margin: 0;
  border-style: none;
  border-radius: none;
  border-width: 0;
}
@mixin reset-input{
  padding: 0;
  margin: 0;
  border-width: 0;
}
@mixin padding-line{
  padding-left: 30px;
  padding-right: 30px;
}
@mixin margin{
  margin-left: auto;
  margin-right: auto;
}
@mixin font{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin font-bold {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}
@mixin bold-1720 {
  @include font-bold;
  font-size: 17px;
  line-height: 20px;
}
@mixin big-title {
  @include font-bold;
  color: $black;
}
@mixin button{
  @include bold-1720;
  @include reset-a;
  display: block;
  color: $grey;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 260px;
  text-align: center;
  border: 2px solid $grey;
  height: 52px;
  padding: 14px 0;
}

