$grey: #444444;
$black: #010000;
$white: #ffffff;
$light-mint: #63d1bb;
$dark-mint: #56c3b2;
$milk: #f1f1f1;
$border: #ececec;
$border-modal: #c7c7c7;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
